.calendar {
  @include vertical-gradient(#fff, $lighter-grey);
  @include transition-duration(0.3s);
  @include transition-timing-function(ease-out());

  -webkit-transition-property: opacity, margin;
  -moz-transition-property: opacity, margin;
  transition-property: opacity, margin;

  overflow:hidden;
  width: 225px;
  line-height:32px;
  text-align:center;
  padding: 3px;
//  background: $lighter-grey;
  // border: 1px solid $border-color;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
  position: absolute;
  border-radius: 3px;
  z-index: 1000;

  opacity: 0;
  margin-left: 25px;

  &.is-visible {
    margin-left: 10px;
    opacity: 1;
  }

  &.east,
  &.west {
    margin-top: -115px;
  }
}

.calendar__month {
  $green: lighten($dark-green, 5%);
  @include disable-selection;
  @include vertical-gradient($green, lighten($green, 4%) );
  cursor: default;
  position:relative;
  font-weight: 400;
  color: lighten($light-green, 60%);
  border-bottom: 1px solid rgba($light-green, 0.9);
  line-height: 33px;
}

.calendar__back,
.calendar__forward,
.calendar__today {
  position:absolute;
  top:9px;
  cursor: pointer;

//  .csstransitions & {
//    @include transition(opacity 0.3s ease-in());
//    opacity: 0.5;
//    &:hover {
//      opacity: 1;
//    }
//  } 
}

.calendar__back {
  left:10px;
}

.calendar__forward {
  right:10px;
}

.calendar__today {
  left:30px;
  top: 5px;
}

.calendar__week {
  @include disable-selection;
  cursor: default;
  box-shadow: 0 2px 3px rgba(#000, 0.2) inset;
  background: $dark-grey;
  color: $light-grey;
  font-weight: 400;
  font-size: 12px;
  overflow: hidden;
  border-left: 1px solid $dark-grey;
  border-right: 1px solid $dark-grey;
  position: relative;
  z-index: 2;
  margin-bottom: -1px;
  text-shadow: 0 -1px 1px rgba(#000, 0.3);
}

.calendar__days {
  position: relative;
  z-index: 1px;
  overflow: hidden;
  clear: both;
  border-top: 1px solid $border-color;
  border-left: 1px solid $border-color;
}

.calendar__days span {
  cursor:pointer;
  float:left;
  width:31px;
  height:31px;
  display:block;
  border-right: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  background: white;
  color: lighten($grey, 5%);

  &:hover {
    background: $lighter-grey;
  }

  &.is-disabled {
    background: darken($lighter-grey, 2%);
    color: lighten( $light-grey, 15% );
  }

  &.is-selected {
    background: lighten($dark-green, 5%);;
    color: #fff;
    border: 1px solid lighten($dark-green, 5%);;
    margin-left: -1px;
    margin-top: -1px;
  }

  &.is-today {
    position: relative;
    &:after {
      @include show-pseudo-element;
      @include triangle('top-left', 10px, 10px, $yellow);
      position: absolute;
      top: 0;
      left: 0;
    }
  }

}

.calendar__week span {
  display:block;
  width:31px;
  float:left;
}